{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title  %}
  login
{% endblock title  %}

{% block content %}
<link rel="stylesheet"
    href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css "> 

<section class="login" id="login">
<div class="container w-50 p-3 my-20 border rounded mt-5" style="background-color:#d8d6d6 ;">
  <form action="{% url 'login' %}" method="POST" autocomplete="off" class="fw-semibold">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom border-success mb-4" style="color:#2268ff ;">Login Now</legend>
        {{ form|crispy }}
        <small class="text-muted">
          <a href="{% url 'password_reset' %}">Forgot password ?</a>
        </small>
        <br>
    </fieldset>
    <br>
    <div class="form-group" id="signin-button">
      <button class="btn  btn-lg col-md-2" style="background:#2268ff ; color:#fff">Sign in</button>
      <small class="text-muted ms-4">don't have account,<a href="{% url 'register' %}">sign up</a></small>
    </div>
  </form>
</div>
</section>
{% endblock content %}