{% extends 'base.html' %}
{% load static %}
{% block title  %}
  Home
{% endblock title  %}
{% block content %}

<br>
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show border border-warning" role="alert">
    <strong>Hello {{ user.username }}! </strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor%}
  {% endif%}
</div>

<section class="home" id="home">
  <div class="home-content">
      <h3>Welcome to</h3>
      <h1>Foody Blog</h1>
      <h3>And <span class="multiple-text"></span></h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis magnam minima architecto. Exercitationem sed earum,
      neque autem aliquam tempore dolore voluptate perspiciatis obcaecati non a ut veritatis cum perferendis eos.</p>
      <div class="social-media">
          <a href="#"><i class='bx bxl-facebook' ></i></a>
          <a href="#"><i class='bx bxl-instagram' ></i></a>
          <a href="#"><i class='bx bxl-youtube' ></i></a>
          <a href="#"><i class='bx bxl-twitter' ></i></a>
      </div>
      {% if user.is_authenticated %}
      <a href="{% url 'add_post' %}#article" class="btn">Add Blog Post</a>
      {% else %} 
      <a href="{% url 'register' %}" class="btn">Create Your<br> Blog Account</a>
      {% endif %}
  </div>
  
  <div class="home-img">
      <img src="{% static '/images/blog.png' %}" alt="profile">
  </div>
</section>

<section class="post" id="post">
  <div class="post-content">
  <h3>POST</h3>
  <ul>
    {% for post in object_list  %}
    <li><a href="{% url 'article-detail' post.pk %}" style="color: var(--main-color);font-weight: 800;">{{ post.title }}</a>
       - {{ post.author.first_name }}
      {{ post.author.last_name }} - 
      {{ post.post_date }} -
      <small><a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
      </small><br>
      {{ post.body }}</li>
    {% endfor %}
  </ul>
</div>
</section>


{% endblock content %}